{% extends "base.html" %} {% block title %}
<title>清日常配置修改</title>

{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>
    <div class="cart-area pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="cart-wrapper">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td class="product-name">
                                            <h4>请收藏此网页链接</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cart-wrapper">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a><img src="" alt="qq_avatar" id="qq_avatar"></a>
                                        </td>
                                        <td class="product-delete">
                                            <button class="btn" id="do_daily">触发清日常</button>
                                            <button class="btn" onclick="OpenDailyResult()">清日常结果</button>
                                        </td>
                                        <td class="product-name" id="order_item_data3">
                                            <h4 id="qq_name"></h4>
                                            <h4 id="qq_id"></h4>
                                        </td>
                                        <td class="product-name">
                                            <h4 id="pcr_name"></h4>
                                            <h4 id="pcr_id"></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12">
                    <table id="tab" width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                        <div>
                            <thead class="thead-light">
                                <tr>
                                    <th>brief</th>
                                    <th>__value__</th>
                                    <th>description</th>
                                </tr>
                            </thead>
                            <tbody id="ta"></tbody>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var userdata = {};

    function draw_config(ret) {
        ret = JSON.parse(ret)
        let cnt = 0;
        let ta_tab = $("#ta");
        for (let name in ret) {
            let item = ret[name];
            if (item.hasOwnProperty('show') && item.show === false) {
                continue;
            }
            cnt += 1;

            ta_tab.append(`<tr id="tr${cnt}"></tr>`); //添加一列
            let tab = $(`#tr${cnt}`); //把这一列的内容添加上
            if (item["implemented"]) {
                tab.append(`<td id='cn${cnt}'>${item["cn"]}</td>`);
            }
            else {
                tab.append(`<td id='cn${cnt}' style="color: lightpink;">(未实装)${item["cn"]}</td>`);
            }
            now_config = item["value"];
            typ = item["type"];
            if (typ == "bool") tab.append(`<td>${get_bool_text(cnt, now_config, name, item.name)}</td>`);
            else tab.append(`<td id='enum${cnt}'>${get_enum_text(cnt, now_config, item["candidate_value"])}</td>`);
            if (item["implemented"]) {
                tab.append(`<td id='description${cnt}'>${item["description"]}</td>`);
            }
            else {
                tab.append(`<td id='description${cnt}' style="color: lightpink;">(未实装)${item["description"]}</td>`);
            }
            tab.append(`<td hidden id='name${cnt}'>${name}</td>`);
        }
    }

    function updateUserdataOnPage() {
        $('#qq_avatar').attr('src', `https://q1.qlogo.cn/g?b=qq&nk=${userdata.qqid}&s=160`);
        $('#qq_name').text(userdata.qqname);
        $('#qq_id').text(userdata.qqid);
        $('#pcr_name').text(userdata.pcrname);
        $('#pcr_id').text(userdata.pcrid);
    }

    function get_config() {
        const urlParams = new URLSearchParams(window.location.search);
        userdata.url_key = urlParams.get('url_key');
        
        $.post("/autopcr/api/userdata", userdata, function(ret) {
            userdata.qqid = ret.data.qqid;
            userdata.qqname = ret.data.qqname;
            userdata.pcrname = ret.data.pcrname;
            userdata.pcrid = ret.data.pcrid;
            updateUserdataOnPage();
            
            $.post("/autopcr/api/config", userdata, function (ret) {
                if (ret.statusCode == 200) {
                    draw_config(ret.data);
                }
                else {
                    alert(`获取清日常设置失败：${ret.message}\n点击确定以刷新页面`);
                    location.reload(true);
                }
            });
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.error('获取初始化数据出错:', textStatus, errorThrown);
            alert("初始化数据获取失败，点击确定以刷新页面");
            location.reload(true);
        });
    }

    $(document).ready(function () {
        get_config();
    });

    function OpenDailyResult() {
        window.open(window.location.href.replace("config", "result"));
    }
    function selectOnChange(select) {
        update_new();
    }

    function checkboxOnclick(checkbox) {
        if (checkbox.checked) {
            $(`[name=${checkbox.name}]`).each(function() {
                $(this)[0].checked = false;
            });
            $(`#${checkbox.id}`)[0].checked = true;
        }
        update_new();
    }

    function get_enum_text(id, value, branchs) {
        let res = `<select  class="custom-select" id=enum${id} onchange="selectOnChange(this)">`;
        for (let i = 0; i < branchs.length; i++) res += `<option value='select${i}' ${value == branchs[i] ? "selected" : ""}>${branchs[i]}</option>`;
        res += "</select>";
        return res;
    }
    function get_bool_text(cnt, value, name, clas) {
        return `<input type="checkbox" class="switch" ${value ? 'checked="checked"' : ""} id='bool${cnt}_${name}' name=${clas ? clas : cnt} onclick="checkboxOnclick(this)" />`;
    }

    function update_new() {
        let config = {"qqid": userdata.qqid, "url_key": userdata.url_key};
        id = 1;
        while ($(`#name${id}`).length) {
            config[$(`#name${id}`).text()] = ($(`#enum${id} option:selected`).length ? $(`#enum${id} option:selected`).text() : $(`[id^=bool${id}]`)[0].checked);
            id += 1;
        }
        $.ajax({
            url: "/autopcr/api/config",
            type: "put",
            data: JSON.stringify(config),
            contentType: "application/json;charset=utf-8",
            processData: false,
            success: function (ret) {
                if (ret.statusCode == 200) {
                    suspend("alert-success", ret.message);
                } else {
                    alert(`本次修改保存失败，点击确定将刷新页面。\n${ret.statusCode}: ${ret.message}`);
                    location.reload(true);
                }
            },
        });
    }

    $("#do_daily").click(function() {
        var button = $(this);
        button.attr("disabled", true);
        button.css("pointer-events", "none");
        button.css("opacity", 0.5);

        setTimeout(function() {
            button.attr("disabled", false);
            button.css("pointer-events", "auto");
            button.css("opacity", 1);
        }, 3000); // 无论api是否响应，3s后恢复按钮
        
        $.post("/autopcr/api/trigger_daily", userdata, function (ret) {
            if (parseInt((`${ret.statusCode}`)[0]) == 2) {
                suspend("alert-success", ret.message);
            }
            else {
                suspend("alert-danger", `${ret.statusCode}: ${ret.message}`);
            }
        });
    });
</script>
{% endblock %}
