/*
!/.gitignore
!/requirements.txt
!/README.md

!/autobox/
!/autobox/**

!/botmanage/
!/botmanage/**

!/farm/
!/farm/**

!/autopcr_db/
!/autopcr_db/**

!/query/
!/query/**

!/priconne/
/priconne/*

!/priconne/pcr_secret/
!/priconne/pcr_secret/**

!/priconne/myweb/
!/priconne/myweb/**

__pycache__/
__pycache__/**/
