/*
!/.gitignore
!/requirements.txt
!/environment.yml
!/README.md

!/autobox/
!/autobox/**

!/auto_captcha/
!/auto_captcha/**

!/botmanage/
!/botmanage/**

!/farm/
!/farm/**

!/autopcr_db/
!/autopcr_db/**

!/query/
!/query/**

!/priconne/
!/priconne/**

!/utils/
!/utils/**

__pycache__/
__pycache__/**/
